
:root{
    /* fuentes */
    --titulos:'Lato', sans-serif;
    --parrafos:'Roboto',sans-serif;
    /* colores corporativos */
    --encabezado:#3c0e03;
    --piepagina:#000;
    --enlace:#fff;
    --enlaceSobre:#f3922b;

}

/* configuración global */
h1,h2,h3,h4,h5,h6 {
    font-family:var(--titulos);
    
}

/* selector universal en css es (*) */
*{
    /* calcular mejor los paddings o espaciados */
    box-sizing: border-box;
}

/* representación de una clase en css es (.) */
/* Encabezado */
.home-wrapper {
    background-image: url('img/libreee.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
   
}

header{
    width: 100%;
    background-color:  rgb(186, 169, 201);
    position: fixed;
    padding-top: 8px;
}

header nav{
    float: right;
    margin-left: 5px;
    padding: 10px 2px;
}

header img{
    width: 200px;
}

header nav a{
    color: var(--enlace);
    text-decoration: none;
    margin-left: 8px;
    font-weight: bold;
}

header nav a:hover{
    color: rgb(237, 82, 108);
}

/* sección home */
#home{
    text-align: center;
    padding: 250px 0 450px;
}

#home h1{
    font-size:3.0rem;
    margin-bottom: 30px;
    color: #000;
}

#home p{
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

section{
    padding-top: 80px;
}

section h2{
    text-align: center;
    font-size: 2.2rem;
}

/* sección novedades */
#novedades .box{
    display: inline-block;
    width: 33%;
    padding: 5px;
}

#novedades .box p{
    text-align: justify;
}

#novedades .box img{
    padding-left: 30%;
    padding-bottom: 10px;
}

#novedades .box h3{
    text-align: center;
    font-size: 1.2rem;
}

/* seccion categoría */
#categoria .box{
    display: inline-block;
    width: 33%;
}
#categoria .box img{
    width: 100%;
}

#categoria .box h3{
    text-align: center;
    font-size: 1.2rem;
}

#categoria .box p{
    text-align: justify;
}

/* sección contacto */
#contacto{
    background-image: url('/img/mapas.webp');
    background-color: #000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    

}

#contacto h2{
    color: #fff;
}

#contacto textarea,input{
    width: 500px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(67, 10, 10);

}


 .boton input {
    background-color: rgb(186, 169, 201);
    border-radius: 6px;
    padding: 6px 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    color: white;
 }
 .boton input:hover{
   background-color: rgb(237, 82, 108);
 }

button{
    font-size: 1.20em;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(150, 103, 191);
    align-items: center;
}
button:hover{
    background-color: rgb(237, 82, 108);
}
.social-links{
    align-items: center;
}
.container .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: pink;
    margin: 0 10px 10px 0;
    align-items: center;
    line-height: 30px;
    color: #ffff;
    transition: all 0.5s ease;
    justify-content: left;
    
}
.container .social-links a:hover{
    background-color: palevioletred;
    color: gray;
}
   
 #contacto textarea,input{
    width: 400px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    background-color: pink;
    font-size: 1rem;
 }
 
iframe{
    margin: 15px 0 10px;

}

footer{
    width: 100%;
    background-color: var(--piepagina);
    color: #fff;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}